.pokemonDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  text-transform: capitalize;

  dt {
    font-weight: bold;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 300px;
  overflow: hidden;
}

.pokemonInfo,
.gallery {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.img {
  max-width: 200px;
}
