@use 'src/styles/colors';

.button {
  background-color: colors.$grey-lighter;
  border-radius: 4px;
  border: 1px solid colors.$grey;
  height: 32px;
  outline: none;

  &:focus-visible {
    background-color: colors.$grey-light;
  }

  &:disabled {
    background-color: colors.$grey-light;
    border-color: colors.$grey;
    color: colors.$grey;
  }
}

.primary {
  background-color: colors.$blue;
  border-color: colors.$blue;
  color: colors.$white;

  &:focus-visible {
    background-color: colors.$blue-dark;
  }
}
