@use 'src/styles/colors';

.sidebar {
  background-color: colors.$white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px 0;
}

.logo {
  margin: 0 auto;
  object-fit: contain;
  width: calc(100% - 16px);
}

.separator {
  background: linear-gradient(
    to right,
    transparent,
    colors.$grey-light,
    transparent
  );
  border: none;
  height: 1px;
  margin: 0;
  width: 100%;
}

.linkList {
  font-size: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  height: 40px;
  line-height: 1;
  margin: 0 4px;
  padding: 0 12px;
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    background-color: colors.$grey-lighter;
  }

  &[aria-current] {
    background-color: colors.$blue-light;
    color: colors.$white;
  }
}

.userInfo {
  align-items: center;
  display: grid;
  gap: 0 5px;
  grid-template-areas:
    'avatar user logout'
    'avatar email logout';
  grid-template-columns: 40px 1fr 40px;
  margin-top: auto;
  padding: 0 8px;
}

.avatar {
  background-color: colors.$grey-lighter;
  border-radius: 50%;
  grid-area: avatar;
  height: 40px;
  width: 40px;
}

.userName {
  font-weight: bold;
  grid-area: user;
}

.email {
  font-size: 0.75em;
  grid-area: email;
}

.logoutButton {
  grid-area: logout;
}
