$black: #000;

$blue-lighter: #91caff;
$blue-light: #4096ff;
$blue: #1677ff;
$blue-dark: #0958d9;

$brown-light: #6d5252;
$brown: #703b3b;
$brown-dark: #532323;

$green: #52c41a;

$grey-lighter: #f5f5f5;
$grey-light: #d9d9d9;
$grey: #8c8c8c;
$grey-dark: #434343;
$grey-darker: #1f1f1f;

$lime: #a0d911;

$magenta-lighter: #ffadd2;
$magenta: #eb2f96;
$magenta-dark: #9e1068;

$orange-light: #ffa940;
$orange: #fa8c16;

$purple-lighter: #d3adf7;
$purple-light: #9254de;
$purple: #722ed1;

$red: #ff4d4f;

$white: #fff;

$yellow: #fadb14;
