.list {
  max-height: 400px;
  overflow: auto;
  border: 1px solid black;
}

.header {
  background-color: white;
  font-weight: bold;
  height: 40px;
  position: sticky;
  top: 0;
}

.listItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: space-between;
  text-transform: capitalize;

  &:hover {
    background-color: lightgrey;
  }
}
