@use 'src/styles/colors';

.favoritePokemon {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 10px;
  grid-auto-rows: 170px;
  grid-template-columns: repeat(4, 1fr);
  overflow: auto;
}
