@use 'src/styles/colors';

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100%;
  justify-content: center;
}

.logo {
  object-fit: contain;
  width: 300px;
}

.form {
  background-color: colors.$white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
  width: 250px;
}

.errorMessage {
  color: colors.$red;
  min-height: 20px;
  text-align: center;
}
